.links {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.links a {
  display: inline-block;
  padding: 0.25em;
  margin: 0.5em;
}

.links a:hover {
  text-decoration: none;
  border: none;
}

.links .icon {
  font-size: 4rem;
}

.links .icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .links .icon {
    font-size: 3rem;
  }
}
